@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
  height: 100vh;
  font-family: "Poppins",sans-serif;
}
.container {
  width: 60%;
  border-radius: 10px;
  margin: 2em auto;
  box-shadow: 0 0 10px 0 #666;
  background-color: #eee;
  padding: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #eee;
  gap: 10px;
  border-radius: 8px;
  padding: 1em 0;
}
.form-control {
  position: relative;
  background-color: #eee;
  height: 100px;
  width: 100%;
  padding: 1em;
}
.form-control label {
  background-color: #ccc;
  padding: .6em;
  font-size: 20px;
  border-radius: 10px 10px 0 0;
  color: #000;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.form-control input {
  width: 100%;
  margin-top: 0.4rem;
  padding: 1em 0;
  outline: none;
  border: none;
  font-size: 1rem;
  border-radius: 0px 10px 10px 10px;
  padding-left: 1rem;
  box-shadow: 0 0 8px 0px #ccc;
}
.form-control.success input {
  border: 2px solid green;
}
.form-control.error input {
  border: 2px solid red;
}
.form-control span {
  position: absolute;
  right: 2em;
  top: 39px;
  visibility: hidden;
}
.form-control small {
  visibility: hidden;
}
.form-control.error small {
  visibility: visible;
  position: absolute;
  color: red;
  bottom: 10px;
  left: 10px;
}
.form-control.success span.write {
  font-size: 1.5rem;
  color: green;
  visibility: visible;
}
.form-control.error span.wrong {
  font-size: 1.5rem;
  color: red;
  visibility: visible;
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.btnBox .btn {
  padding: 8px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #666;
  font-size: 1.3em;
  color: #fff;
  box-shadow: 0 0 6px 0 #555;
}
form h2 {
  margin-bottom: 1em;
}
@media screen and (max-width:480.98px) {
  .container{
    background-color: #eee;
    width:100%;
    transition: all .3s ease-out;
  }
  .form{
    gap: 0;
    padding: .5rem 0;
    background-color: #eee;
    border: none;
    outline: none;
  }
  .form-control{
    padding: 0;
  }
}

@media screen and (min-width:481px) and (max-width:767.98px) {
  .container{
    width: 80%;
    transition: all .3s ease-out;
  }
}
@media screen and (min-width:768px) and (max-width:991.98px) {
  .container{
    width: 70%;
    transition: all .3s ease-out;
  }
}
@media screen and (min-width:992px) and (max-width:1200px) {
  .container{
    width: 60%;
    transition: all .3s ease-out;
  }
}